<app-auth-card [title]="'Welcome back'" [subtitle]="'Sign in to your account'">
  <i-lucide authCardIcon [img]="LogInIcon" class="size-6" />
  <form [formGroup]="signinForm" (ngSubmit)="handleSignin()" class="flex flex-col gap-5 mb-4">
    <div class="space-y-2">
      <app-text-input
        labelText="Email"
        [id]="'signin-email'"
        type="email"
        placeholder="Enter your email"
        formControlName="email"
      />

      <app-error-message [message]="getValidationErrorMessage(email, 'Email')"></app-error-message>
    </div>

    <div class="space-y-2">
      <app-password-input
        [id]="'signin-password'"
        labelText="Password"
        type="password"
        placeholder="Enter your password"
        formControlName="password"
      />

      <app-error-message
        [message]="getValidationErrorMessage(password, 'Password')"
      ></app-error-message>
    </div>
    <a
      [routerLink]="nav.auth.forgotPassword"
      class="text-sm text-(--main-color) flex justify-end hover:underline w-fit ml-auto"
      >Forgot password?</a
    >

    <app-primary-button
      [label]="requestState.loading() ? 'Signing in...' : 'Sign in'"
      type="submit"
      [disabled]="requestState.loading()"
    />
  </form>
  <p class="text-sm text-(--light-gray-color) text-center">
    Don't have an account?
    <a [routerLink]="nav.auth.signup" class="text-(--main-color) hover:underline">Sign up</a>
  </p>
</app-auth-card>
