<div class="space-y-2">
  <label class="label" [attr.for]="resolvedId">
    <span class="label-text text-white">{{ labelText() }}</span>
  </label>
  <input
    type="number"
    [id]="resolvedId"
    [placeholder]="placeholder()"
    [min]="min()"
    [max]="max()"
    [step]="step()"
    [value]="value()"
    [disabled]="isDisabled()"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
    class="input input-bordered rounded-lg w-full bg-(--dark-color) focus-within:input-info"
  />
</div>
