<div class="space-y-2">
  <label class="label" [for]="id()">
    <span class="text-white">{{ labelText() }}</span>
  </label>
  <div
    class="input input-bordered rounded-lg w-full flex items-center gap-2 bg-(--dark-color) focus-within:input-info relative"
  >
    <i-lucide [img]="LockIcon" class="h-4 w-4 shrink-0 opacity-50" />
    <input
      [id]="id()"
      [type]="showPassword() ? 'text' : 'password'"
      [placeholder]="placeholder()"
      [value]="value()"
      [disabled]="isDisabled()"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
    />
    <!-- Show password icon -->
    @if (!showPassword()) {
      <span
        class="absolute right-2 cursor-pointer flex items-center justify-center size-4"
        tabindex="0"
        (keydown.enter)="handleShowingPassword()"
      >
        <i-lucide
          [img]="EyeIcon"
          (click)="handleShowingPassword()"
          class="w-full shrink-0 opacity-50"
        />
      </span>
    } @else {
      <span
        class="absolute right-2 cursor-pointer flex items-center justify-center size-4"
        tabindex="0"
        (keydown.enter)="handleShowingPassword()"
      >
        <i-lucide
          [img]="EyeOffIcon"
          (click)="handleShowingPassword()"
          class="w-full shrink-0 opacity-50"
        />
      </span>
    }
  </div>
</div>
