<dialog
  #dialog
  class="modal z-1000 bg-transparent p-0 border-0 shadow-none outline-none"
  (close)="handleClose()"
>
  <div
    class="absolute inset-0 bg-black/50"
    aria-hidden="true"
    (click)="handleClose()"
  ></div>
  <div
    class="modal-box max-h-[90vh] overflow-y-auto w-11/12 max-w-3xl relative z-10 bg-(--dark-gray-color)"
    [class]="class()"
    (click)="$event.stopPropagation()"
  >
    <button
      type="submit"
      class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2"
      (click)="handleClose()"
    >
      ✕
    </button>

    <h3 class="text-lg font-bold pr-8">{{ title() }}</h3>
    <div class="py-4">
      <ng-content />
    </div>
  </div>
</dialog>
