<div class="space-y-6">
  <div class="flex items-center flex-col md:flex-row gap-5">
    <div class="skeleton h-40 w-40 rounded-xl"></div>
    <div class="flex flex-col items-center md:items-start gap-2">
      <div class="skeleton h-6 w-48 rounded-full"></div>
      <div class="skeleton h-5 w-20 rounded-full"></div>
      <div class="flex items-center gap-2 text-(--light-gray-color) text-sm">
        <div class="skeleton size-4 rounded"></div>
        <div class="skeleton h-4 w-24 rounded-full"></div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="space-y-3">
      <div class="skeleton h-3 w-20 rounded-full"></div>
      <div class="skeleton h-10 w-full rounded-xl"></div>
    </div>
    <div class="space-y-3">
      <div class="skeleton h-3 w-20 rounded-full"></div>
      <div class="skeleton h-10 w-full rounded-xl"></div>
    </div>
  </div>

  <div class="skeleton h-10 w-full rounded-xl"></div>
</div>
