<app-auth-card
  [title]="'Create Account'"
  [subtitle]="'Join Eventify today'"
  iconBackgroundColor="bg-(--secondary-color)"
>
  <i-lucide authCardIcon [img]="UserPlusIcon" class="size-6" />
  <form [formGroup]="signupForm" (ngSubmit)="handleSignup()" class="flex flex-col gap-5 mb-4">
    <div class="space-y-2">
      <app-text-input
        labelText="Full Name"
        type="text"
        formControlName="fullName"
        placeholder="Enter your full name"
      />
      @if (fullName?.touched) {
        @if (fullName?.errors?.['required']) {
          <app-error-message [message]="'Full name is required'"></app-error-message>
        }
      }
      @if (fullName?.errors?.['minlength']) {
        <app-error-message
          [message]="'Full name must be at least 3 characters'"
        ></app-error-message>
      }
    </div>
    <div class="space-y-2">
      <app-text-input
        labelText="Email"
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />
      @if (email?.touched) {
        @if (email?.errors?.['required']) {
          <app-error-message [message]="'Email is required'"></app-error-message>
        }
        @if (email?.errors?.['email']) {
          <app-error-message [message]="'Invalid email address'"></app-error-message>
        }
      }
    </div>
    <div class="space-y-2">
      <app-password-input
        labelText="Password"
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      @if (password?.touched) {
        @if (password?.errors?.['required']) {
          <app-error-message [message]="'Password is required'"></app-error-message>
        }
        @if (password?.errors?.['minlength']) {
          <app-error-message
            [message]="'Password must be at least 8 characters'"
          ></app-error-message>
        }
      }
    </div>
    <div class="space-y-2">
      <app-password-input
        labelText="Confirm Password"
        type="password"
        placeholder="Confirm your password"
        formControlName="confirmPassword"
      />
      @if (confirmPassword?.touched) {
        @if (confirmPassword?.errors?.['required']) {
          <app-error-message [message]="'Confirm password is required'"></app-error-message>
        } @else if (signupForm.hasError('passwordMismatch')) {
          <app-error-message [message]="'Passwords do not match'"></app-error-message>
        }
      }
    </div>
    @if (requestState.error()) {
      <div class="flex justify-center">
        <app-error-message [message]="requestState.error()" />
      </div>
    }
    <app-primary-button
      [label]="requestState.loading() ? 'Signing up...' : 'Sign up'"
      type="submit"
      [disabled]="requestState.loading()"
    />
  </form>
  <p class="text-sm text-(--light-gray-color) text-center">
    Already have an account?
    <a [routerLink]="nav.auth.signin" class="text-(--main-color) hover:underline">Sign in</a>
  </p>
</app-auth-card>
