<app-auth-card
  [title]="'Create Account'"
  [subtitle]="'Join Eventify today'"
  iconBackgroundColor="bg-(--secondary-color)"
>
  <i-lucide authCardIcon [img]="UserPlusIcon" class="size-6" />
  <form [formGroup]="signupForm" (ngSubmit)="handleSignup()" class="flex flex-col gap-5 mb-4">
    <div class="space-y-2">
      <app-text-input
        labelText="Full Name"
        [id]="'signup-fullName'"
        type="text"
        formControlName="fullName"
        placeholder="Enter your full name"
      />
      <app-error-message
        [message]="getValidationErrorMessage(fullName, 'Full name')"
      ></app-error-message>
    </div>
    <div class="space-y-2">
      <app-text-input
        labelText="Email"
        [id]="'signup-email'"
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />
      <app-error-message [message]="getValidationErrorMessage(email, 'Email')"></app-error-message>
    </div>
    <div class="space-y-2">
      <app-password-input
        [id]="'signup-password'"
        labelText="Password"
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <app-error-message
        [message]="getValidationErrorMessage(password, 'Password')"
      ></app-error-message>
    </div>
    <div class="space-y-2">
      <app-password-input
        [id]="'signup-confirmPassword'"
        labelText="Confirm Password"
        type="password"
        placeholder="Confirm your password"
        formControlName="confirmPassword"
      />

      <app-error-message
        [message]="getValidationErrorMessage(confirmPassword, 'Confirm password')"
      ></app-error-message>
      @if (confirmPassword?.touched && signupForm.hasError('passwordMismatch')) {
        <app-error-message [message]="'Passwords do not match'"></app-error-message>
      }
    </div>
    <app-primary-button
      [label]="requestState.loading() ? 'Signing up...' : 'Sign up'"
      type="submit"
      [disabled]="requestState.loading()"
    />
  </form>
  <p class="text-sm text-(--light-gray-color) text-center">
    Already have an account?
    <a [routerLink]="nav.auth.signin" class="text-(--main-color) hover:underline">Sign in</a>
  </p>
</app-auth-card>
