<div class="space-y-2">
  <label class="label" [attr.for]="id()">
    <span class="text-white">{{ labelText() }}</span>
  </label>

  <select
    [id]="id()"
    class="select select-bordered rounded-lg w-full bg-(--dark-color) focus-within:input-info text-white"
    [disabled]="isDisabled()"
    [value]="value() || ''"
    (change)="handleChange($event)"
    (blur)="handleBlur()"
  >
    <option disabled value="">{{ placeholder() }}</option>
    @for (option of options(); track option.value) {
      <option [selected]="option.value === value()" [value]="option.value">
        {{ option.label }}
      </option>
    }
  </select>
</div>
