<ng-template #sortableHeader let-label="label" let-column="column">
  <sort-button
    [label]="label | titlecase"
    [value]="column"
    (sort)="handleSort({ label: column, direction: $event.direction })"
  >
  </sort-button>
</ng-template>

<ng-template #userTemplate let-user>
  <div class="flex items-center gap-2">
    <app-avatar [imageUrl]="user.profilePicture" [label]="user.fullName"> </app-avatar>
    <span class="text-white text-sm font-medium">{{ user.fullName | titlecase }}</span>
  </div>
</ng-template>

<ng-template #dateTemplate let-user>
  <span class="text-white text-xs">
    {{ user.createdAt | date: 'short' }}
  </span>
</ng-template>

<ng-template #actionsTemplate let-user>
  <div class="flex items-center gap-2">
    <button class="btn btn-sm btn-ghost">
      <i-lucide [img]="EditIcon" class="size-4 text-white"></i-lucide>
    </button>
    <button class="btn btn-sm btn-ghost">
      <i-lucide [img]="EyeIcon" class="size-4 text-white"></i-lucide>
    </button>
    <button class="btn btn-sm btn-ghost">
      <i-lucide [img]="DeleteIcon" class="size-4 text-white"></i-lucide>
    </button>
  </div>
</ng-template>

<ng-template #statusTemplate let-user>
  <div class="flex items-center gap-2">
    <app-badge
      [color]="
        user.isVerified ? 'bg-(--accent-color) text-white' : 'bg-(--destructive-color) text-white'
      "
      [label]="user.isVerified ? 'Verified' : 'Unverified'"
    >
    </app-badge>
  </div>
</ng-template>

<admin-table
  [tableConfiguration]="{ columns: columns(), rows: users() }"
  (sort)="handleSort($event)"
/>
