<ng-template #sortableHeader let-label="label" let-column="column">
  <sort-button
    [label]="label | titlecase"
    [value]="column"
    (sort)="handleSort({ label: column, direction: $event.direction })"
  >
  </sort-button>
</ng-template>

<ng-template #eventTemplate let-event>
  <div class="flex items-center gap-3">
    <div class="avatar">
      <div class="w-18 rounded-xl">
        <img [src]="`${baseUrl}/${event.photo}`" [alt]="event.title" />
      </div>
    </div>
    <span class="text-white text-sm font-medium">{{ event.title | titlecase }}</span>
  </div>
</ng-template>

<ng-template #dateTemplate let-event>
  <span class="text-white text-xs">
    {{ event.dateTime | date: 'short' }}
  </span>
</ng-template>

<ng-template #categoryTemplate let-event>
  <div class="badge bg-(--gray-color) rounded-full text-sm text-white">
    {{ event.category | titlecase }}
  </div>
</ng-template>

<ng-template #seatsTemplate let-event>
  <span class="text-white text-xs"> {{ event.registeredSeats }}/{{ event.totalSeats }} </span>
</ng-template>

<ng-template #priceTemplate let-event>
  <span class="text-white text-xs">
    {{ event.price | currency: 'EGP' }}
  </span>
</ng-template>

<ng-template #actionsTemplate let-event>
  <div class="flex items-center gap-2">
    <button class="btn btn-sm btn-ghost" (click)="handleActions('edit', event._id)">
      <i-lucide [img]="EditIcon" class="size-4 text-white"></i-lucide>
    </button>
    <a [routerLink]="[nav.event(event._id)]" class="btn btn-sm btn-ghost">
      <i-lucide [img]="EyeIcon" class="size-4 text-white"></i-lucide>
    </a>
    <button class="btn btn-sm btn-ghost" (click)="handleActions('delete', event._id)">
      <i-lucide [img]="DeleteIcon" class="size-4 text-white"></i-lucide>
    </button>
  </div>
</ng-template>

<ng-template #statusTemplate let-event>
  <div class="flex items-center gap-2">
    <app-badge
      [color]="
        event.status === 'ongoing'
          ? 'bg-(--accent-color) text-white'
          : event.status === 'upcoming'
            ? 'bg-(--main-color) text-white'
            : 'bg-(--gray-color) text-white'
      "
      [label]="event.status | titlecase"
    >
    </app-badge>
  </div>
</ng-template>
<ng-template #createdAtTemplate let-event>
  <span class="text-white text-xs">
    {{ event.createdAt | date: 'short' }}
  </span>
</ng-template>

<admin-table
  [tableConfiguration]="{ columns: columns(), rows: events() }"
  (sort)="handleSort($event)"
  [paginationOptions]="paginationOptions()"
/>
