<div class="card bg-(--dark-gray-color) border-(--gray-color) border rounded-xl p-5 space-y-4">
  <h2 class="text-lg font-semibold text-white">About this event</h2>

  <p class="text-(--light-gray-color) leading-relaxed">{{ event().description }}</p>

  <div class="grid grid-cols-2 gap-3 pt-1">
    <app-info-label
      [title]="(event().dateTime | date: 'shortDate') ?? ''"
      textColorClass="text-white"
    >
      <i-lucide [img]="CalendarIcon" color="var(--main-color)" class="size-4" />
    </app-info-label>

    <app-info-label
      [title]="(event().dateTime | date: 'shortTime') ?? ''"
      textColorClass="text-white"
    >
      <i-lucide [img]="ClockIcon" color="var(--secondary-color)" class="size-4" />
    </app-info-label>

    <app-info-label [title]="event().location" textColorClass="text-white">
      <i-lucide [img]="MapPinIcon" color="var(--accent-color)" class="size-4" />
    </app-info-label>

    <app-info-label
      [title]="event().price === 0 ? 'Free' : ((event().price | currency: 'EGP') ?? '')"
      [textColorClass]="'text-white font-medium'"
    >
      <i-lucide [img]="BanknoteIcon" color="var(--main-color)" class="size-4" />
    </app-info-label>
  </div>
</div>

