<app-auth-card
  [title]="'Reset Password'"
  [subtitle]="'Enter your new password'"
  iconBackgroundColor="bg-(--warning-color)"
>
  <i-lucide authCardIcon [img]="KeyRoundIcon" class="size-6" />

  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="handleResetPassword()"
    class="flex flex-col gap-5 mb-4"
  >
    <div class="space-y-2">
      <app-password-input
        labelText="New Password"
        type="password"
        placeholder="Enter your new password"
        formControlName="password"
      />
      @if (password?.touched) {
        @if (password?.errors?.['required']) {
          <app-error-message [message]="'Password is required'"></app-error-message>
        }
        @if (password?.errors?.['minlength']) {
          <app-error-message
            [message]="'Password must be at least 8 characters'"
          ></app-error-message>
        }
      }
    </div>
    <div class="space-y-2">
      <app-password-input
        labelText="Confirm Password"
        type="password"
        placeholder="Confirm your new password"
        formControlName="confirmPassword"
      />
      @if (confirmPassword?.touched) {
        @if (resetPasswordForm.hasError('passwordMismatch')) {
          <app-error-message [message]="'Passwords do not match'"></app-error-message>
        }
      }
    </div>

    <app-primary-button
      [label]="requestState.loading() ? 'Resetting Password...' : 'Reset Password'"
      type="submit"
      [disabled]="requestState.loading()"
    />
  </form>
  <a
    [routerLink]="nav.auth.signin"
    class="text-sm hover:text-(--main-color) text-(--light-gray-color) flex justify-center"
    >Back to Login</a
  >
</app-auth-card>
