<div class="space-y-4">
  <div class="flex items-center justify-between flex-wrap gap-4">
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <i-lucide [img]="UsersIcon" class="size-6 text-(--secondary-color)" />
        <h1 class="text-3xl font-display font-bold text-white flex items-center gap-2">
          Manage Users
        </h1>
      </div>
      <p class="text-(--light-gray-color) text-lg">
        {{ usersResource.resource.value()?.data?.totalData ?? 0 }} total users
      </p>
    </div>
    <div class="flex items-center gap-2">
      <app-search-input
        [placeholder]="'Search users by name'"
        [value]="usersResource.searchInput()"
        (onSearch)="handleSearch($event)"
      />
      <app-secondary-button [label]="'Add User'" (handleClick)="handleAddUser()">
        <i-lucide [img]="PlusIcon" class="size-4" />
      </app-secondary-button>
    </div>
  </div>

  <app-modal
    [title]="'Add User'"
    [isOpen]="isAddUserModalOpen()"
    (closed)="handleCloseAddUserModal()"
  >
    <app-user-form
      [requestState]="requestState"
      (closed)="handleCloseAddUserModal()"
      (onSave)="handleSaveUser($event)"
    />
  </app-modal>
  @if (usersResource.resource.isLoading()) {
    <admin-loading />
  }
  @if (usersResource.resource.error()) {
    <app-error-message [message]="'Failed to load users'" />
  }
  @if (usersResource.resource.value()) {
    <app-user-table
      [users]="usersResource.resource.value()?.data?.users ?? []"
      (sort)="handleSort($event)"
    />
  }
</div>
