<div class="join flex justify-center">
  <button
    type="button"
    class="join-item btn btn-md"
    [disabled]="!hasPrev"
    (click)="prev()"
    aria-label="Previous page"
  >
    «
  </button>
  @for (item of pageNumbers(); track item === 'ellipsis' ? $index : item) {
    @if (item === 'ellipsis') {
      <button type="button" class="join-item btn btn-md btn-disabled" disabled>…</button>
    } @else {
      <button
        type="button"
        class="join-item btn btn-md"
        [class.btn-active]="item === currentPage()"
        (click)="goTo(item)"
      >
        {{ item }}
      </button>
    }
  }
  <button
    type="button"
    class="join-item btn btn-md"
    [disabled]="!hasNext"
    (click)="next()"
    aria-label="Next page"
  >
    »
  </button>
</div>
