<div class="flex flex-col gap-6">
  <div>
    <h1 class="text-3xl font-bold text-white">Dashboard</h1>
    <p class="text-(--light-gray-color) text-lg mt-1">Overview of your event platform</p>
  </div>

  @if (dashboardFacade.loadState.loading()) {
    <app-dashboard-skeleton />
  } @else if (dashboardFacade.loadState.error()) {
    <app-error-message [message]="dashboardFacade.loadState.error()" />
  } @else {
    <app-stat-cards-list [stats]="dashboardFacade.stats()" />

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <app-registration-bar-chart
        [topEventsByRegistration]="dashboardFacade.topEventsByRegistration()"
      />
      <app-category-donut-chart [eventsByCategory]="dashboardFacade.eventsByCategory()" />
    </div>

    <app-top-revenue-events-list [topEventsByRevenue]="dashboardFacade.topEventsByRevenue()" />

    <app-event-status-list [eventsStatus]="dashboardFacade.eventsStatus()" />
  }
</div>
