<div class="flex flex-col min-h-[75vh]">
  <!-- Table grows to fill available space -->
  <div class="overflow-x-auto flex-1">
    <table class="table table-zebra w-full">
      <!-- head -->
      <thead>
        <tr>
          @for (col of tableConfiguration().columns; track col.label) {
            <th>
              @if (col.headerTemplate) {
                <ng-container
                  [ngTemplateOutlet]="col.headerTemplate"
                  [ngTemplateOutletContext]="{
                    label: col.label,
                    column: col.key,
                    sort: sort.emit.bind(sort),
                  }"
                ></ng-container>
              } @else {
                <p [class.ml-[41px]]="col.key === 'actions'">
                  {{ col.label }}
                </p>
              }
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @if (tableConfiguration().rows.length === 0) {
          <tr class="h-[50vh]">
            <td colspan="100%" class="text-center text-white text-xl">No data found</td>
          </tr>
        } @else {
          @for (row of tableConfiguration().rows; track row._id) {
            <tr class="hover">
              @for (col of tableConfiguration().columns; track col.label) {
                <td>
                  @if (col.cellTemplate) {
                    <ng-container
                      [ngTemplateOutlet]="col.cellTemplate"
                      [ngTemplateOutletContext]="{ $implicit: row }"
                    ></ng-container>
                  } @else {
                    {{ row[col.key] }}
                  }
                </td>
              }
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <!-- Pagination always sticks to bottom -->
  @if (paginationOptions()) {
    <div class="mt-auto py-4">
      <app-pagination
        [currentPage]="paginationOptions()?.currentPage ?? 1"
        [totalPages]="paginationOptions()?.totalPages ?? 1"
        (pageChange)="paginationOptions()?.onPageChange?.($event)"
      />
    </div>
  }
</div>

