<div
  class="card compact overflow-hidden rounded-xl border-l-4 bg-base-200"
  [class]="variant[event().status]"
>
  <app-thumbnail [event]="event()" />
  <div class="card-body gap-2 p-4">
    <h2 class="card-title text-lg font-bold text-base-content">{{ event().title }}</h2>
    <p class="text-sm text-base-content/70 line-clamp-2">{{ event().description }}</p>

    <div class="flex items-center gap-1">
      <app-info-label title="{{ event().dateTime | date: 'short' }}">
        <i-lucide [img]="CalendarIcon" color="var(--main-color)" class="size-4" />
      </app-info-label>
      <app-info-label title="{{ event().dateTime | date: 'shortTime' }}">
        <i-lucide [img]="ClockIcon" color="var(--secondary-color)" class="size-4" />
      </app-info-label>
      <app-info-label title="{{ event().location }}">
        <i-lucide [img]="MapPinIcon" color="var(--accent-color)" class="size-4" />
      </app-info-label>
    </div>
    <div class="flex items-center gap-2 justify-between">
      <app-info-label title="{{ event().registeredSeats }}/{{ event().totalSeats }} Seats">
        <i-lucide [img]="UsersIcon" class="size-4" />
      </app-info-label>
      <app-info-label
        title="{{ event().totalSeats === event().registeredSeats ? 'Full' : 'Available' }}"
        textColorClass="{{
          event().totalSeats === event().registeredSeats
            ? 'text-(--destructive-color)'
            : 'text-(--accent-color)'
        }}"
      >
        {{
          event().totalSeats === event().registeredSeats
            ? ''
            : event().totalSeats - event().registeredSeats
        }}
      </app-info-label>
    </div>
  </div>
  <app-progress [value]="event().registeredSeats" [max]="event().totalSeats" />
</div>
