<app-auth-card
  [title]="'Verify OTP'"
  [subtitle]="'Enter the 6-digit code sent to your email'"
  iconBackgroundColor="bg-(--accent-color)"
>
  <i-lucide authCardIcon [img]="ShieldCheckIcon" class="size-6" />

  <form class="flex flex-col gap-6 mb-4" [formGroup]="otpForm" (ngSubmit)="handleVerifyOtp()">
    <app-otp-input formControlName="otp" />
    @if (requestState.error()) {
      <div class="flex justify-center">
        <app-error-message [message]="requestState.error()" />
      </div>
    }
    <app-primary-button [label]="requestState.loading() ? 'Verifying...' : 'Verify'" type="submit" [disabled]="otpForm.invalid || requestState.loading()" />
  </form>
</app-auth-card>
