<app-auth-card
  [title]="'Forgot Password'"
  [subtitle]="'We will send a reset link to your email'"
  iconBackgroundColor="bg-(--accent-color)"
>
  <i-lucide authCardIcon [img]="MailIcon" class="size-6" />
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="handleForgotPassword()"
    class="flex flex-col gap-5 mb-4"
  >
    <div class="space-y-2">
      <app-text-input
        labelText="Email"
        type="email"
        placeholder="Enter your email"
        formControlName="email"
      />
      @if (email?.touched) {
        @if (email?.errors?.['required']) {
          <app-error-message [message]="'Email is required'"></app-error-message>
        }
        @if (email?.errors?.['email']) {
          <app-error-message [message]="'Invalid email address'"></app-error-message>
        }
      }
    </div>
    
    <app-primary-button
      [label]="requestState.loading() ? 'Sending Reset Link...' : 'Send Reset Link'"
      type="submit"
      [disabled]="forgotPasswordForm.invalid || requestState.loading()"
    />
  </form>
  <a
    [routerLink]="nav.auth.signin"
    class="text-sm hover:text-(--main-color) text-(--light-gray-color) flex justify-center"
    >Back to Login</a
  >
</app-auth-card>
